@media (max-width: 1439px) {

}

@media (max-width: 1200px) { //993
    .container {
        max-width: 960px;
    }
    .promo {
        background: url(../img/main.jpg) 22%/cover no-repeat;
    }

}

@media (max-width: 992px) { //769
    .container {
        max-width: 720px;
    }
    .advantages {
        &__item {
            max-width: 220px;
        }
    }
    .consultation {
        min-height: 570px;
        padding: 25px 0 0px 0;
    }
    .carousel {
        &__inner {
            width: 620px;
        }
        img {
            width: 100%;
        }
    }
}

@media (max-width: 768px) { //577
    .container {
        max-width: 540px;
    }
   .header {
       &__phone {
           font-size: 16px;
       }
   }
   .advantages {
       &__wrapper {
           align-items: center;
           flex-direction: column;
           margin-top: 0px;
       }
       &__item {
           max-width: 400px;
           margin-top: 25px;
       }
       &__descr {
            margin-top: 10px;
       }
   }
   .consultation {
       &__descr {
           font-size: 18px;
       }
       .title {
           &_left {
               font-size: 30px;
           }
       }
   }
   .catalog {
       &__tabs {
           margin-top: 50px;
       }
       padding-bottom: 30px;
        &__content {
            justify-content: center;
        }
    }
    .feed {
        &__item {
            &:nth-child(2) {
                margin-top: 50px;
            }
        }
    }
    .footer {
        &__info {
            padding: 20px 45px 20px 45px;
        }
    }
    .carousel {
        padding: 45px 0;
        &__inner {
            width: 444px;
        }
    }
}



@media (max-width: 576px) { //320
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        font-size: 25px;
    }
    .promo {
        padding-top: 5px;
      &__icons {
          width: 300px;
      }
      &__header {
          font-size: 33px;
          text-align: center;
      }
      &__subheader {
          text-align: center;
          font-size: 22px;
      }
    }
  .header {
      position: relative;
      &__phone {
          font-size: 15px;
      }
      &__logo {
          width: 150px;
      }
      .button {
          width: 140px;
          height: 25px;
      }
  }
  .advantages {
      padding-top: 25px;
      &__subtitle {
        margin-top: 25px;
    }
  } 
  .consultation {
    min-height: 500px;
    &__descr {
        font-size: 16px;
    }
        .title {
            &_left {
            font-size: 20px;
            }
        }
    }
    .pageup {
        right: 20px;
    }
    .catalog {
        &__content {
            margin-top: 10px;
        }
        &__tabs {
            flex-direction: column;
            margin-top: 15px;
        }
        &__tab {
            margin-bottom: 10px;
        }
    }
    .feed {
        &__item {
            flex-direction: column;
            align-items: end;
            margin-top: 50px;
            &:nth-child(2) {
                margin-top: 30px;
            }
        }
        &__text {
            margin-left: 0px;
            margin-top: 15px;
        }
        &__descr {
            font-size: 14px;
        }
    }
    .footer {
        &__addr {
            margin-bottom: 20px;
        }
        &__phone {
            margin-bottom: 25px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
        }
    }
    .carousel {
        &__inner {
            width: 300px;
        }
        .slick-dots {
            position: absolute;
            bottom: -25px;
            display: block;
            width: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: center;
            li {
                position: relative;
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: 0 5px;
                padding: 0;
                cursor: pointer;
                button {
                    font-size: 0;
                    line-height: 0;
                    display: block;
                    width: 20px;
                    height: 20px;
                    padding: 5px;
                    cursor: pointer;
                    color: transparent;
                    border: 0;
                    outline: none;
                    background: transparent;
                    &:before {
                        font-family: 'slick';
                        font-size: 36px;
                        line-height: 20px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        content: '•';
                        text-align: center;
                        opacity: .25;
                        color: $main-color;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                       }
                }
            }
        }
        li.slick-active {
            button {
                &:before {
                    opacity: .75;
                    color: $main-color;
                }
            }
        }
    }
    .modal {
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            font-size: 13px;
        }
        width: 300px;
        padding: 30px 20px 30px 20px;
        &__close {
                top: 5px;
                right: 5px;
                font-size: 35px;
        }
    }
    .feed-form {
        width: 100%;
    }
}


@media (max-width: 430px) {
    .header {
        &__official {
            position: absolute;
            top: 65px;
            left: 50%;
            transform: translateX(-50%);
            width: 300px;
        }
    }
   
}